* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(15,110,138,1) 35%, rgba(0,212,255,1) 100%);
}

.hero-section {
    display: grid;
    grid-template-columns: repeat(3, 8rem);
    grid-gap: 2rem;

}

.card {
    position: relative;
    background: coral;
}