* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(79,75,143);
    background: linear-gradient(90deg, rgba(79,75,143,1) 0%, rgba(43,189,172,1) 31%, rgba(0,212,255,1) 100%);
    font-family: 'Bangers', cursive;
}

button {
    font-family: 'Bangers', cursive;
}

.hero-section {
    display: grid;
    grid-template-columns: repeat(3, 8rem);
    grid-gap: 1rem;
    padding-bottom: 1rem;
}

.mastermind-section {
    display: grid;
    grid-template-columns: repeat(3, 8rem);
    grid-gap: 1rem;
    padding-bottom: 1rem;
}

.villain-section {
    display: grid;
    grid-template-columns: repeat(3, 8rem);
    grid-gap: 1rem;
    padding-bottom: 1rem;
}

.henchmen-section {
    display: grid;
    grid-template-columns: repeat(3, 8rem);
    grid-gap: 1rem;
    padding-bottom: 1rem;
}

.scheme-section {
    display: grid;
    grid-template-columns: repeat(3, 8rem);
    grid-gap: 1rem;
    padding-bottom: 1rem;
}

.card {
    position: relative;
    background: coral;
}

#start-button {
    font-family: 'Bangers', cursive;
}

#player-amt {
    font-family: 'Bangers', cursive;
}